
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the base layer styles */
@layer base {
  body {
    /* Ensure 'font-jakarta' is defined in tailwind.config.js */
    @apply font-jakarta;
  }
}

.filter-blue {
  filter: invert(35%) sepia(96%) saturate(7488%) hue-rotate(221deg)
    brightness(99%) contrast(98%);
}
@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}
